<!DOCTYPE html>
<html lang="en">
    <head><%- include("layout", {title: "Log in"}) %></head>
    <body>
        <form action="" method="post">
            <label for="email" value="Email">
            <input type="email" name="email" id="email" required>
            <label for="password" value="Password">
            <input type="password" name="password" id="password" required>
            <input type="submit" value="Log in">
        </form>
        <% if(errors) { %>
            <ul>
                <% errors.forEach(err => { %>
                    <li><%= err.msg %></li>
                <% }) %>
            </ul>
        <% } %>
    </body>
</html>